<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trackmysport" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrackMySport" >
        <activity
            android:name=".DrawActivities"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".Agenda"
            android:screenOrientation="portrait"
            android:exported="true"></activity>
        <activity
            android:name=".Whiteboard"
            android:screenOrientation="portrait"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.trackmysport.MainPage" />
        </activity>
        <activity
            android:name=".TrainingSession"
            android:screenOrientation="portrait"
            android:exported="true" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.trackmysport.MainPage" />

        <activity
            android:name=".Videos"
            android:screenOrientation="portrait"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.trackmysport.MainPage" />
        </activity>
        <activity
            android:name=".Team"
            android:screenOrientation="portrait"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.trackmysport.MainPage" />
        </activity>
        <activity
            android:name=".Profile"
            android:screenOrientation="portrait"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.trackmysport.MainPage" />
        </activity>
        <activity
            android:name=".Register"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".MainPage"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
    </application>

</manifest>